.button   
   
   {
    
      
      -fx-text-alignment: center;
      
      -fx-text-fill: gold;
      
      -fx-font-size: 15pt;
      
      -fx-font-family: sans-serif;
      
      -fx-focus-color: black; 
      
      -fx-borderstyle: solid;
      
      -fx-border-width: 2px;
      
      -fx-border-color: #000000;
      
      -fx-min-height: 100px;
      
      -fx-pref-height: 100px;
      
      -fx-pref-width: 200px;
      
     -fx-background-color: blue;
      
     -fx-borderstyle: solid;
      
     -fx-border-width: 2px;
      
     -fx-border-color: #000000; 
   
   }
   
.button:focused 
   
   {
    
      
      
      -fx-focus-color: black; 
      
      -fx-borderstyle: solid;
      
      -fx-border-width: 3px;
      
      -fx-border-color: #000000;
      
      -fx-font-weight: bold;
   
   }
   
   
   
.label 
   
   {
   
      -fx-text-alignment: center;
      
      -fx-text-fill: white;
      
      -fx-font-size: 45pt;
      
      -fx-font-weight: bold;
      
      -fx-font-family: sans-serif;
      
      -fx-background-color : blue;
      
      
   
   }
   
.root //this handles the BorderPane
   
   {
   
      -fx-background-color : blue;
      
      -fx-borderstyle: solid;
      
      -fx-border-width: 5px;
      
      -fix-border-color: black;
   
   }